@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html{
    scroll-behavior: smooth;
}

.main{
    width: 100%;
    min-height: 100vh;
    background-image: url(wall7.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
}

.nb{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
}

.icon .logo{
    color: orangered;
    font-size: 27px;
    cursor: pointer;
}

.menu ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.menu ul li a{
    text-decoration: none;
    color: orangered;
    font-weight: bold;
    transition: 0.3s;

}

.menu ul li a:hover{
    color: maroon;
}

.menu ul{
    list-style-type: none;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}




.page.active{
    display: block;  
}

.about-section {
    width: 100%;
    max-width: 1100px; 
    margin: auto;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px;
    transform: translateY(-60px);
}



.about-title {
    font-size: 50px;
    font-weight: 700;
    color: purple;
    margin-bottom: 20px;
    text-decoration: none;
    margin-top: 0;

}

.about-text {
    font-size: 16px;
    line-height: 1.8;
    color: purple;

}


.text-center1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.about-content {
    max-width: 500px;
    flex: 1;
}

.about-inner{
    max-width: 500px;   
    margin: auto;
}

#ABOUT{
   min-height: 80vh;
    background-image: url(wall0.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}



@media (max-width: 900px) {
    .about-section {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

}


.text-center1{
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
    text-decoration: none;
    color: purple;
}


#NEWS{
    background-image: url(wall3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;


}

.news-section {
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;
    color: purple;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}

.slider-container {
    overflow: hidden;
    width: 100%;
}


.news-slider {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
}

.news-card {
    min-width: 300px;
    background: darkorange;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card h3 {
    margin-bottom: 10px;
    color: maroon;
}

.news-card p {
    color: #444;
    font-size: 15px;
}

.news-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

.news-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

/* Buttons */
.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: maroon;
    color: white;
    border: none;
     width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.slide-btn.prev { left: -20px; }
.slide-btn.next { right: -20px; }

.slide-btn:hover {
    background: #8b0000;
}

#DESIGNER_PROFILES{
    background-image: url(wall4.png);

}


.designer-section{
    min-height: 100vh;
    padding: 100px 40px;
    text-align: center;
    color: purple;

}

.designer-grid {
    max-width: 1200px;
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.designer-card {
    background: white;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.designer-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 30px 60px rgba(0,0,0,0.2);
}

.designer-card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.designer-card h3 {
    font-size: 20px;
    color: purple;
    margin-bottom: 5px;
}

.designer-card .role {
    font-weight: 600;
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.designer-card .bio {
    font-size: 14px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 10px;
}

.portfolio-btn {
   background-color: purple; 
   color: aliceblue;
   border-radius: 10px;
   padding: 5px 10px;
   text-decoration:none;
}

.content{
    width: 1200px;
    max-width: 90%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color:aliceblue;

}


.text-section{
    flex: 1;
    min-width: 300px;
    color: purple;

}

.text-section h1{
    font-size: 50px;
}



.cn{
   margin-top: 25px; 
   background-color: orangered; 
   color: aliceblue;
   border: none;
   padding: 10px 20px;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.3s;

}

.cn a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.cn:hover{
    background: linear-gradient(90deg, purple, yellow);
}

@media (max-width:900px){
    .content{
        flex-direction: column;
        align-items: center;
    }
    
}
